appdirs==1.4.0
backports-abc==0.5
certifi==2017.1.23
packaging==16.8
PyJWT==1.4.2
pyparsing==2.1.10
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
-e git+https://github.com/sugarush/tornado-json.git@d881e94129056e9e27d188d0d189f52104f139b6#egg=tornado_json
